.Footer{

    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3em;
    margin-top: 2em;
    background-color:gray;
    color: #fff;
}


